## Frontend ENV Configs
VITE_API_URL=/api/dev
NODE_ENV=development
VITE_APP_TITLE=臺北城市儀表板
VITE_APP_VERSION=2.0.0
VITE_MAPBOXTOKEN=pk.eyJ1IjoidHp1dXV1dXUiLCJhIjoiY2xva3hhcjRhMmM2bTJrcGw1c3E5Z2N4NyJ9.7IUGzhrbyNbm6iMrVt1jFQ
VITE_MAPBOXTILE=mapbox://tzuuuuuu.7qtx3o6o
# [External Dev Don't Need to Fill Below Variable]
VITE_TAIPEIPASS_URL=
# [External Dev Don't Need to Fill Below Variable]
VITE_TAIPEIPASS_SCOPE=
# [External Dev Don't Need to Fill Below Variable]
VITE_TAIPEIPASS_CLIENT_ID=
